vti_encoding:SR|utf8-nl
vti_author:SR|SLENDYHUB\\slend
vti_modifiedby:SR|SLENDYHUB\\slend
vti_timelastmodified:TR|29 Oct 2022 12:52:48 -0000
vti_timecreated:TR|08 Oct 2022 18:02:13 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|results.aspx
vti_nexttolasttimemodified:TW|28 Oct 2022 20:12:51 -0000
vti_cacheddtm:TX|28 Oct 2022 20:12:51 -0000
vti_filesize:IR|4818
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css2 S|../images/go_hover.png S|../images/go.png
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css2 FSUS|images/go_hover.png FSUS|images/go.png
